* {
    font-family: "Roboto", sans-serif;
}

.jumbotron {
    width: 100%;
    height: 100vh;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 600px;

}

.jumbotron-info {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.logo-cont {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

}

.phone-img {
    width: 500px;
    height: 100%;
    background-image: url(../images/device.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.logo-img {
    height: 100px;
    background-size: 200px auto;
    background-position: 0 top;
    background-repeat: no-repeat;
    background-image: url(../images/logo.png);
    background-size: contain;
}

.payload {
    color: white;
}

.os-list {
    height: 50px;
    background-size: auto 25px;
    background-repeat: no-repeat;
    background-image: url(../images/available-for.png);
    background-size: contain;
}

.more-info button {
    border: 2px solid #00c7fc;
    color: #00c7fc;
    padding: 8px 30px;
    margin: 20px 20px 0px 0px;
    text-transform: uppercase;
    background-color: transparent;
}