* {
    font-family: "Roboto", sans-serif;
}

.jumbotron {
    width: 100%;
    height: 100vh;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 600px;
}

.jumbotron-info {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.logo-cont {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

}

.phone-img {
    width: 500px;
    height: 100%;
    background-image: url(../images/device.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.logo-img {
    height: 100px;
    background-size: 200px auto;
    background-position: 0 top;
    background-repeat: no-repeat;
    background-image: url(../images/logo.png);
    background-size: contain;
}

.payload {
    color: white;
    margin-top: 20%;
}

.os-list {
    height: 35px;
    background-size: 10px auto;
    background-repeat: no-repeat;
    background-image: url(../images/available-for.png);
    background-size: auto;
}

.more-info button {
    border: 2px solid #00c7fc;
    color: #00c7fc;
    padding: 8px 30px;
    margin: 10% 20px 10% 0px;
    text-transform: uppercase;
    background-color: transparent;
}

.container {
    color: #282828;
}

.features {
    margin: 50px 25% 50px 25%;
    text-align: center;
}

.advantages {
    background-image: url(../images/lined-icons.png);
    height: 35px;
    background-size: 10px auto;
    background-repeat: no-repeat;
}

.advantages .card {
    width: 15%;
    float: left;
}